@using MVCAddressBook.Enums
@model MVCAddressBook.Models.ViewModels.ContactCreateViewModel
@inject MVCAddressBook.Services.Interfaces.IImageService ImageService;
@{
    ViewData["Title"] = "Edit";
}


<div class="container-fluid d-flex justify-content-center">

    <div class="row glass-style">

        <h1>
            @Html.DisplayFor(test => test.Contact.FullName)
        </h1>

        <div class="row" p-2>
            <div class="col-12">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Contact.Id" />
                    <input type="hidden" asp-for="Contact.UserId" />
                    <input type="hidden" asp-for="Contact.Created" />
                    <input type="hidden" asp-for="Contact.ImageData" />
                    <input type="hidden" asp-for="Contact.ImageType" />
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <img class="img-fluid" src="@ImageService.DecodeImage(Model.Contact.ImageData, Model.Contact.ImageType)" />
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row gy-2">
                                <div class="col-12 col-md-6">
                                    <label asp-for="Contact.FirstName" class="control-label"></label>
                                    <input asp-for="Contact.FirstName" class="form-control" />
                                    <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label asp-for="Contact.LastName" class="control-label"></label>
                                    <input asp-for="Contact.LastName" class="form-control" />
                                    <span asp-validation-for="Contact.LastName" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="Contact.Address1" class="control-label"></label>
                                    <input asp-for="Contact.Address1" class="form-control" />
                                    <span asp-validation-for="Contact.Address1" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="Contact.Address2" class="control-label"></label>
                                    <input asp-for="Contact.Address2" class="form-control" />
                                    <span asp-validation-for="Contact.Address2" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label asp-for="Contact.City" class="control-label"></label>
                                    <input asp-for="Contact.City" class="form-control" />
                                    <span asp-validation-for="Contact.City" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label asp-for="Contact.State" class="control-label"></label>
                                    <select asp-for="Contact.State" asp-items="@Html.GetEnumSelectList(typeof(States))" class="form-control"></select>
                                    <span asp-validation-for="Contact.State" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-2">
                                    <label asp-for="Contact.ZipCode" class="control-label"></label>
                                    <input asp-for="Contact.ZipCode" class="form-control" />
                                    <span asp-validation-for="Contact.ZipCode" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label asp-for="Contact.Email" class="control-label"></label>
                                    <input asp-for="Contact.Email" class="form-control" />
                                    <span asp-validation-for="Contact.Email" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label asp-for="Contact.Phone" class="control-label"></label>
                                    <input asp-for="Contact.Phone" class="form-control" />
                                    <span asp-validation-for="Contact.Phone" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label asp-for="Contact.Birthday" class="control-label"></label>
                                    <input asp-for="Contact.Birthday" class="form-control" />
                                    <span asp-validation-for="Contact.Birthday" class="text-danger"></span>
                                </div>
                                <div class-"col-12 col-md-6">
                                    <label asp-for="Contact.ImageFile" class="control-label"></label>
                                    <input asp-for="Contact.ImageFile" class="form-control-file" type="file" />
                                    <span asp-validation-for="Contact.ImageFile" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    @foreach (var category in Model.CategoryList)
                                    {
                                        if (Model.Contact.Categories.Select(c => c.Id).ToList().Contains(Convert.ToInt32(category.Value)))
                                        {
                                            <div class="form-check form-check-inline form-switch">
                                                <input type="checkbox" checked class="form-check-input" name="CategoryList" value="@category.Value" />
                                                <label class="form-check-label" for="CategoryList">@category.Text</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check form-check-inline form-switch">
                                                <input type="checkbox" class="form-check-input" name="CategoryList" value="@category.Value" />
                                                <label class="form-check-label" for="CategoryList">@category.Text</label>
                                            </div>
                                        }
                                    }
                                </div>

                                <div class="col-6 mb-3">
                                    <input type="submit" value="Save" class="glass-button" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div style="font-size: 2.5rem;">
            
            <a asp-action="Index"><i class="bi bi-backspace"></i></a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>